@page "/"
@using MorgenthalerDesign.Components

<PageTitle>Index</PageTitle>

<Page>
    <Hero>
        <h1>Hello, world!</h1>

        Welcome to your new app.

        <Button>
            Click Me
        </Button>
    </Hero>
</Page>